body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
    font-size: 15px;
    line-height: 1.6;
    background-color: #ffffff;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.container {
    position: relative;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
}
@media (max-width: 960px){
    .container {
        position: relative;
        width: 100%;
        max-width: 630px;
        margin: 0 auto;
    }
}

/* header */

.header {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    z-index: 1000;

}

.header__inner {
    float: right;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 734px;
    margin-right: 0px;
    align-items: center;

}
.header__text {
    width: 136px;
    height: 62px;
}




.header__logo1{
  
    position: absolute;
    font-size: 77px;
    font-weight: 700;
    color: #f1c40f;
	text-transform:capitalize;
	letter-spacing: 3px;
}
.header__logo2{

    position: absolute;
    font-size: 77px;
    font-weight: 700;
    margin-top: 2px;
    margin-left: 2px;
    color: #ff6969;
}


/* Nav */
.nav{
    margin-top: 20px;
    text-align: right;
    line-height: 2.5;
}
.nav__link {
    transition: .5s;
    font-family: "Open Sans";
    text-align: right;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    
}
/* home */
.home {

    width: 100%;
    height: 760px;
    background-color: black;
    background: url(intro.jpg) center, no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}
.home_text {
    width: 100%;
    max-width: 610px;
    position: relative;
    text-align: right;
}

.home__midle {
    position: absolute;
    margin-left: 651px;
    margin-top: 270px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: bold;
    
}
@media (max-width: 960px){
    .home__midle {
        position: absolute;
        margin-left: 351px;
        margin-top: 340px;
        font-size: 60px; 
    }
}

.home__after {
    position: absolute;
    margin-left: 651px;
    margin-top:  402px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px; 
    font-weight: 400;

}

@media (max-width: 960px){
    .home__after {
        margin-left: 351px;
        margin-top:  402px;
        font-size: 60px; 
        font-weight: 400;
    
    }
}

.phone{
    position: absolute;
    margin-top: 140px;
    z-index: 1;
    margin-left: 291px;
    
}


@media (max-width: 960px){
    .phone{
        width: 25%;
        margin-top: 220px;
        z-index: 1;
        margin-left: 50px;
    }
}


.download__link{
    position: absolute;
    margin-left: 651px;
    margin-top: 569px;
}

.download__link1{
    position: absolute;
    margin-left: 651px;
    margin-top: 619px;
}

@media (max-width: 960px){
    .download__link{
        position: absolute;
        margin-left: 351px;
        margin-top: 569px;
    }
    
    .download__link1{
        position: absolute;
        margin-left: 351px;
        margin-top: 619px;
    }
}


/* Screen 2 */
.Screen2{
    width: 100%;
    height: 812px;
    background-color: #3498db;
    position: relative;
}

.dots{
    position: absolute;
    margin-top: 118px;
    margin-left: 599px;
    z-index: 1000;
}

.sub__sting {
    position: absolute;
    margin-top: 190px;
    margin-left: 419px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
}


.chat{
    position: absolute;
    margin-top: 300px;
    margin-left: 34.875%;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 100px;
}



.screen2__text {
    position: absolute;
    width: 437px;
    margin-top: 368px;
    margin-left: 236px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
}

.add_groups{
    position: absolute;
    margin-top: 538px;
    margin-left: 29.875%;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;

}

.screen2__text2 {
    position: absolute;
    width: 437px;
    margin-top: 601px;
    margin-left: 241px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
}
@media (max-width: 960px){
    .sub__sting {
        margin-left: 219px;
        font-size: 30px;
    }
    .dots{
        margin-left: 359px;
    }
    .screen2__text2 {

        margin-left: 0px;
        font-size: 18px;
        line-height: 1.3;
    }
    .chat{
        margin-top: 300px;
        margin-left: 278px;
        font-size: 30px;
        padding-bottom: 100px;
    }
    .add_groups{
        margin-left: 226px;
        font-size: 36px;
        font-weight: 700;
    }
    .screen2__text {
        width: 437px;
        margin-top: 368px;
        margin-left: 0px;
        font-size: 15px;
        line-height: 1.3;
    }
}

.Phone{
    position: absolute;
    top: 61px;
    right: 0px
}
@media (max-width: 960px){
    .Phone{
        width: 75%;
        position: absolute;
        top: 150px;
        left: 250px
    }
}

 /* Screen3 */
 .Screen3{
    height: 812px;
    background-color: #ffffff;
    position: relative;
}
.screen3__sub{
    position: absolute;
    color: #3498db;
    margin-top: 213px;
    margin-left: 647px;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}
.screen3__text{
    position: absolute;
    margin-top: 449px;
    margin-left: 647px;
    width: 717px;
    color: #3498db;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    line-height: 1.2;

}
.phonesrc3 {
    position: absolute;
    top: 61px;
    left: 245px;
    transition: .5s;
}
@media (max-width: 960px){
    .screen3__sub{
        margin-top: 213px;
        margin-left: 347px;
        font-size: 40px;
    }
    .screen3__text{
        width: 50%;
        margin-top: 449px;
        margin-left: 347px;
        font-size: 18px;
        line-height: 1.2;
    
    }
    .phonesrc3 {
        width: 30%;
        position: absolute;
        top: 150px;
        left: 50px
    }
}

 /* Screen4 */
.Screen4{
    width: 100%;
    height: 1462px;
    background-color: #ffffff;
    background: url(Back.png) center, no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.iPhone4{
    position: absolute;
    margin-top: 205px;
    margin-left: 438px;
    transition: .5s;
}

.Fion4{
    position: absolute;
    margin-top: 296px;
    margin-left: 990px;
}

.screen4__text{
    position: absolute;
    top: 424px;
    right: 0px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
}

.screen4__sub{
    position: absolute;
    top: 663px;
    right: 0px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

.screen4__download{
    position: absolute;
    margin-top: 997px;
    margin-left: 976px;
}

@media (max-width: 960px){
    .iPhone4{
        width: 50%;
        margin-top: 205px;
        margin-left: 28px;
    }
    .Fion4{
        width: 20%;
        margin-top: 296px;
        margin-left: 500px;
    }
    .screen4__text{
        top: 424px;
        left: 350px;
        font-size: 18px;
        line-height: 1.1;
        }
        .screen4__sub{
            top: 683px;
            left: 350px;
            font-size: 18px;
            line-height: 1.1;
        }
        .screen4__download{
            position: absolute;
            margin-top: 1240px;
            margin-left: 500px;
        }
}
@media (min-width: 1800px){
    .screen4__text{
        left: 600px;
        }
        .screen4__sub{
        left: 600px;
        }
}
/* Last Word */
.Last__Words{
    width: 100%;
    position: relative;
    height: 877px;
    background-color: #3498db;
}

.last__text{
    position: absolute;
    margin-top: 129px;
    margin-left: 470px;
    color: #ffffff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2;

}

.lst__link{
    position: absolute;
    margin-top: 326px;
    margin-left: 631px;
}

hr {
    position: absolute;
    margin-top: 453px;
    margin-left: 265px;

} 

.last__text2 {
    position: absolute;
    margin-top: 543px;
    margin-left: 547px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 400;
}

.last__text3{
    position: absolute;
    margin-top: 612px;
    margin-left: 358px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
}
.nav__last{
    position: relative;
    top: 727px;
    left: 600px;
    
}

@media (max-width: 960px){
    .last__text{
        margin-top: 129px;
        margin-left: 159px;
        font-size: 60px;
    }
    .lst__link{
        margin-left: 301px;
    }
    hr {
        width: 55%;
        margin-left: 225px;
    } 
    .last__text2 {
        margin-left: 207px;
        font-size: 36px;
        font-weight: 400;
    }
    
    .last__text3{
        margin-left: 58px;
        font-size: 17px;
        font-weight: 400;

    }
    .nav__last{

        left: 250px;
        
    }
    
}
@media (min-width: 1800px){
    .last__text{
        margin-left: 630px;
        font-size: 60px;
    }
    .lst__link{
        margin-left: 770px;
    }
    hr {
        width: 1500px;
        margin-left: 225px;
    } 
    .last__text2 {
        margin-left: 680px;
    }
    
    .last__text3{
        margin-left: 458px;
        font-size: 20px;
        font-weight: 400;

    }
    .nav__last{
        left: 730px;
    }
}
 /* Footer */
footer{

    width: 100%;
    height: 281px;
    background-color: #000000;

}
.Footerlogo{
    position: absolute;
    margin-top: 62px;
    margin-left: 775px;
}
table{

    position: absolute;
    margin-top: 205px;
    margin-left: 609px;
    border-collapse: collapse;
    border: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: semibold;
    text-align: center;
    
}

.last{
    border-top: 0;
    border-bottom: 0;
    padding: 0px 15px 0px 10px;
    
}
#first{
    border-left: 0;
}
#lass{
    border-right: 0;
}
.nav__footer{
    text-decoration: none;
    color: #ffffff;
}
@media (max-width: 960px){
    .Footerlogo{

        margin-left: 405px;
    }
    table{
        margin-left: 239px;
        font-size: 18px;
        
    }
}
@media (min-width: 1800px){
    .Footerlogo{
        margin-left: 48%;
    }
    table{
        margin-left: 39.9%;
        font-size: 18px;
        
    }
}